<html>
  <head>
    <title>cat</title>
    <style>img.cat {border: violet dashed 4px;}</style>
  </head>
  <body>
    <img class='cat' src='https://i.imgur.com/jFaSxym.png' alt='cat'>
    <div class= 'cat'>
      <img class='cat' src='https://i.imgur.com/jFaSxym.png' alt='cat'>
    </div>
  </body>
</html>